<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Projects" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Projects</h1>
    <%= link_to "New project", new_user_project_path, class: "rounded-lg py-2 px-3 bg-green-600 hover:bg-green-700 text-white block font-medium" %>
  </div>

  <div class="flex flex-col w-full">
    <div class="overflow-x-auto sm:mx-0 5 lg:mx-0 5">
      <div class="py-2 inline-block min-w-full">
        <div class="overflow-x-auto">
          <table class="min-w-full overflow-x-scroll">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-800 px-6 text-left" >
                Name
                </th> 
                <th scope="col" class="text-sm font-medium text-gray-800 px-6 text-left" >
                Description
                </th> 
              </tr>
            </thead>
            <tbody>
              <% @user_projects.each do |user_project| %>
                <%= render 'project_row', project: user_project %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
