<div class="mx-auto md:w-2/3 w-full">
<%= render_button("< Back", text: nil,
                                        variant: :link,
                                        as: :link,
                                        href: :back) %>
  <h1 class="font-bold text-4xl">Editing task <%= @task.name %></h1>
  <h2 class="mt-1">Belongs to project "<%= @project.name %>"</h2>

  <%= render "form", task: @task %>
</div>
