<div class="mx-auto md:w-2/3 w-full">
<%= render_button("< Back to projects", text: nil,
                                        variant: :link,
                                        as: :link,
                                        href: projects_path) %>
  <h1 class="font-bold text-4xl">Editing project</h1>

  <%= render "form", project: @project %>
</div>
